//= Mixin to create font-family classes
.createFontFamilyClasses(@iterator: length(@fonts-array-theme)) when(@iterator > 0) {
	@name: extract(extract(@fonts-array-theme , @iterator), 1);
	@font-face {
		font-family: '@{name}';
		src: url('@{fonts-path}@{name}/@{name}.woff2'),
		url('@{fonts-path}@{name}/@{name}.woff'),
		url('@{fonts-path}@{name}/@{name}.ttf');
	}
	.font--family-@{name} {
		font-family: '@{name}',
		arial,
		sans-serif;
	}
	.createFontFamilyClasses(@iterator - 1);
}

// .font-size(@pxValue: @font-size-base,
// @unit: rem) {
// 	font-size: unit(@pxValue / @font-size-base, @unit); //line-height: unit(@pxValue / @font-size-base, @unit);
// }
// .font-size(@pxValue: @font-size-base,
// @unit: rem) when (@unit =vw) {
// 	font-size: unit(@pxValue * 0.15625, @unit);
// 	@media @mquery-desktop-min {
// 		font-size: unit(@pxValue * 0.052083, @unit);
// 	}
// 	@media @mquery-desktop-lg-min {
// 		font-size: unit(@pxValue, px);
// 	}
// }
.line-height(@pxValue: @font-size-base,
@unit: rem) {
	line-height: unit(@pxValue / @font-size-base, @unit);
}

.line-height(@pxValue: @font-size-base,
@unit: rem) when (@unit =vw) {
	line-height: unit(@pxValue * 0.15625, @unit);
	@media @mquery-desktop-min {
		line-height: unit(@pxValue * 0.052083, @unit);
	}
}

.letter-spacing(@pxValue: @font-size-base,
@unit: rem) {
	letter-spacing: unit(@pxValue / @font-size-base, @unit);
}

.letter-spacing(@pxValue: @font-size-base,
@unit: rem) when (@unit =vw) {
	letter-spacing: unit(@pxValue * 0.15625, @unit);
	@media @mquery-desktop-min {
		letter-spacing: unit(@pxValue * 0.052083, @unit);
	}
}
