.svgColor (@svg-color, @path: true, @polygon: false) {
	svg {
		fill: @svg-color;
		path {
			fill: @svg-color;
		}
	}
}

.svgColor (@svg-color, @path: true, @polygon: true) when (@polygon =true) {
	polygon {
		fill: @svg-color;
	}
}

.svgColor (@svg-color, @path: true, @polygon: false) when (@path =false) {
	svg {
		fill: @svg-color;
	}
}
