.add-to-cart {
	@border-radius: 4pxi;
	@media screen and @mquery-desktop-min {
		display: flex;
		flex-direction: row;
	}
	&--first-section {
		@media screen and @mquery-desktop-min {
			display: inline-block;
			width: 37%;
		}
		.add-to-cart {
			&--availability {
				&--stock {
					color: @color-jungle-green;
					font-family: 'roboto-light';
					font-size: 32px;
					font-weight: 600;
					margin: 6% 0 10% 10%;
					position: relative;
					@media screen and @mquery-desktop-min {
						font-size: 18px;
					}
					&:before {
						background: url('@{img-theme-path}svg/check-circle-jungle-green.svg') no-repeat 0 0;
						background-size: 100%;
						content: '';
						height: 140%;
						position: absolute;
						right: 107%;
						top: -10%;
						transform: translate(50%);
						width: 9%;
					}
				}
			}
			&--out {
				&--stock {
					color: @color-red;
					font-family: 'roboto-light';
					font-size: 32px;
					font-weight: 600;
					margin: 29% 0 10% 10%;
					position: relative;
					@media screen and @mquery-desktop-min {
						font-size: 18px;
					}
				}
			}
		}
	}
	&--second-section {
		@media screen and @mquery-desktop-min {
			display: inline-block;
			margin-left: 23%;
			width: 41%;
		}
		.add-to-cart {
			&--actions {
				margin-top: 12%;
			}
			&--availability {
				&--limits {
					color: @color-carnation;
					font-size: 32px;
					margin: 3% 0 0;
					@media screen and @mquery-desktop-min {
						color: @color-black;
						font-size: 16px;
					}
				}
			} // &--qty-selector {
			// 	@media @mquery-desktop {
			// 		width: 51%;
			// 	}
			// } // &--qty-selector,
			// .qty-selector {
			// 	span {
			// 		width: 30%;
			// 		@media screen and @mquery-desktop-min {
			// 			width: 33%;
			// 		}
			// 		&:before {
			// 			right: 41%;
			// 			width: 60%;
			// 			@media screen and @mquery-desktop-min {
			// 				right: inherit;
			// 				width: 33%;
			// 			}
			// 		}
			// 	}
			// 	.form-control {
			// 		width: 40%;
			// 		@media screen and @mquery-desktop-min {
			// 			width: 33%;
			// 		}
			// 	}
			// }
		}
	}
	&--configuration{
		&-select {
			height: 100px;
			position: relative;
			@media screen and @mquery-desktop-min {
				height: 56px;
			}
			select {
				-moz-appearance: none;
				-webkit-appearance: none;
				background: url('@{img-theme-path}svg/arrow-down-carnation.svg') no-repeat 97% center;
				background-color: white;
				background-size: auto 80%;
				border: solid 1px rgb(169, 169, 169);
				border-radius: @border-radius;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 35px;
				height: 100%;
				padding: 24px;
				width: 100%;
				@media screen and @mquery-desktop-min {
					font-size: 20px;
					padding: 12px 1.5rem;
				}
			}
		}
		&-title {
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 32px;
			@media screen and @mquery-desktop-min {
				font-size: 16px;
			}
		}
	}
}
