.add-button-product {
	button {
		border-radius: 5px;
		display: inline-block;
		font-family: 'roboto-light';
		font-size: 40px;
		height: 112px;
		padding-left: 33%;
		position: relative;
		text-align: left;
		width: 100%;
		@media screen and @mquery-desktop-min {
			padding-left: 64px;
			font-size: 20px;
			height: 56px;
			width: 210px;
		}
		span {
			width: 100%;
		}
		&:before {
			background-size: 100%;
			content: '';
			height: 48px;
			left: 14%;
			position: absolute;
			top: 28.05%;
			width: 48px;
			@media screen and @mquery-desktop-min {
				height: 26px;
				left: 8.55%;
				width: 26px;
			}
		}
	}
	&-toCart {
		background-color: @color-carnation;
		border: 0;
		color: @color-white;
		margin: 7% 0 0 0;
		&:before {
			background: url('@{img-theme-path}svg/cart-white.svg') no-repeat 0 0;
		}
		&-hidden:before{
			visibility: hidden;
		}
	}
	&-whishlist {
		background-color: @color-concrete;
		border: 1px solid @color-rolling-stone;
		margin-top: 7%;
		&-link {
			color: @color-black;
			width: 100%;
		}
		&:before {
			background: url('@{img-theme-path}svg/add-list.svg') no-repeat 0 0;
		}
	}
}
