.cart {
	background-color: @cart-bg-color;
	bottom: 0;
	box-shadow: -11px 4px 16px -4px fade(@color-black, 26%);
	overflow: auto;
	padding: 28px 0;
	position: absolute;
	right: -100%;
	transition: right 0.3s ease-out;
	width: 100%;
	z-index: 8;
	@media @mquery-desktop {
		position: fixed;
		max-width: 640px;
		width: 33%;
	}
	@media (max-width: @screen-sm-max) {
		display: none;
	}
	&--bottom {
		@media @mquery-desktop {
			display: flex;
		}
		>div {
			flex: 1;
		}
	}
	&--content {
		display: none;
	}

	&--continue-shopping-button-container {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 140px;
		@media screen and @mquery-desktop-min {
			margin-top: 0%;
			margin-left: 3%;
			margin-right: 0;
		}
	}
	&--continue-shopping-button {
		width: 100%;
		@media screen and @mquery-desktop-min {
			width: auto;
		}
	}

	&--empty {
		color: fade(@text-color, 50%);
		.aalign();
	}
	&--footer {
		background-color: @cart-totals-bg-color;
		width: 100%;
		@media @mquery-desktop {
			bottom: 0;
			position: absolute;
		}
		&-bottom {
			background-color: @color-concrete;
			padding: 30px;
			@media screen and @mquery-desktop-min {
				background-color: white;
				padding: 0;
			}
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
			}
			>div {
				@media @mquery-desktop {
					flex: 1;
					justify-content: flex-end;
				}
			}
		}
	}
	&--header {
		border-bottom: 1px solid @cart-borders-color;
		padding: 0 24px 43px;
		@media @mquery-desktop {
			padding: 0 0.9615384615384616rem 0.5rem 1.3461538461538463rem;
		}
		.title {
			font-family: 'playfairdisplay-bold', arial, sans-serif;
			font-size: 56px;
			@media @mquery-desktop {
				font-size: 40px;
			}
		}
		.nbitems {
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 24px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		.showall {
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 24px;
			@media @mquery-desktop {
				font-size: 16px;
			}
			a {
				color: @cart-color-link;
				cursor: pointer;
			}
		}
	}
	&--item {
		&-list {
			height: 80%;
			overflow-y: auto;
			padding: 0 0 1.5rem 0;
		}
	}
	&--loader {
		background: @color-white url('@{img-theme-path}@{cart-loader-img}') no-repeat center center;
		bottom: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		&.active {
			display: block;
		}
	}
	&--submit {
		background-color: @color-concrete;
		display: inline-block;
		padding-bottom: 7pxi;
		width: 100%;
		@media screen and @mquery-desktop-min {
			background-color: white;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 20px;
			width: initial;
			padding-right: 2.1153846153846154rem;
		}
		.mini-cart-checkout-button {
			float: right;
			font-size: 1rem;
			width: 100%;
			&:hover {
				color: #fff;
			}
			@media @mquery-desktop {
				font-size: 20px;
				width: 210px;
			}
		}
	}
	&--voucher {
		padding: 0 50px 0 50px;
		@media @mquery-desktop {
			padding: 0 25px 0 25px;
		}
		form {
			display: flex;
			@media @mquery-desktop {
				width: 70%;
			}
			[type='text'] {
				flex: 3;
				font-size: 32px;
				@media @mquery-desktop {
					font-size: 16px;
				}
			}
			button {
				flex: 1;
			}
		}
		label {
			color: @text-color;
			font-family: 'playfairdisplay-bold', arial, sans-serif;
			font-size: 56px;
			padding: 40px 0;
			text-transform: inherit;
			@media @mquery-desktop {
				font-size: 24px;
				padding: 20px 0;
			}
		}
		.button {
			border-radius: 0 6px 6px 0;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
	}
	&--warning {
		color: @color-secondary;
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		font-style: italic;
		padding: 7px 50px 15px 50px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 18px 135px 8px 25px;
		}
	}
	&.active {
		background-color: @cart-bg-color;
		right: 0;
	}
	&-headline {
		@media @mquery-desktop {
			padding: 19px 17px 19px 20px;
		}
	}
	&__top {
		&--totals {
			@media @mquery-desktop {
				padding: 19px 17px 19px 20px;
				text-align: right;
			}
		}
	}
}

.cart-top-bar {
	font-size: 18px;
	padding-top: 15px;
}

#cartTotalsDisplay {
 .icon--garbage{
	font-size: 1.6rem;
	margin-left: 3px;
   opacity: 0.3;
   }
}
