@icon-angle-base :0;
@icon-angle-up :unit( (@icon-angle-base), deg);
@icon-angle-right :unit( (@icon-angle-base + 90), deg);
@icon-angle-down :unit( (@icon-angle-base + 180), deg);
@icon-angle-left :unit( (@icon-angle-base - 90), deg);

.iconBg(@icon-name,
@icon-color: 0) when (@icon-color =0) {
	&--@{icon-name} {
		background: url('@{img-theme-path}svg/@{icon-name}.svg') center center no-repeat;
	}
}

.iconBg(@icon-name,
@icon-color: 0) when not (@icon-color =0) {
	&--@{icon-name} {
		&-@{icon-color} {
			background: url('@{img-theme-path}svg/@{icon-name}-@{icon-color}.svg') center center no-repeat;
		}
	}
}

.icon {
	display: block;
	height: 100%;
	width: 100%;
	.iconBg(arrow);
	.iconBg(arrow-thin);
	.iconBg(arrow-thin,
	carnation);
	&--add {
		&-list {
			background: url('@{img-theme-path}svg/add-list.svg') center center no-repeat;
		}
	}
	&--burger {
		background: url('@{img-theme-path}svg/burger.svg') center center no-repeat;
		&-white {
			background: url('@{img-theme-path}svg/burger-white.svg') center center no-repeat;
		}
	}
	&--cart {
		background: url('@{img-theme-path}svg/cart.svg') center center no-repeat;
		&-white {
			background: url('@{img-theme-path}svg/cart-white.svg') center center no-repeat;
		}
	}
	&--check {
		&-circle {
			background: url('@{img-theme-path}svg/check-circle.svg') center center no-repeat;
			&-jungle {
				&-green {
					background: url('@{img-theme-path}svg/check-circle-jungle-green.svg') center center no-repeat;
				}
			}
		}
	}
	.iconBg(check);
	&--circle {
		background: url('@{img-theme-path}svg/circle.svg') center center no-repeat;
		&-arrows {
			background: url('@{img-theme-path}svg/circle-arrows.svg') center center no-repeat;
		}
	}
	&--close {
		background: url('@{img-theme-path}svg/close.svg') center center no-repeat;
		&-carnation {
			background: url('@{img-theme-path}svg/close-carnation.svg') center center no-repeat;
		}
		&-white {
			background: url('@{img-theme-path}svg/close-white.svg') center center no-repeat;
		}
	}
	.iconBg(credit-card);
	&--delivery {
		background: url('@{img-theme-path}svg/delivery.svg') center center no-repeat;
	}
	&--freshness {
		background: url('@{img-theme-path}svg/Freshness.svg') center center no-repeat;
	}
	&--dir {
		&-up {
			transform+_: rotate(@icon-angle-up);
		}
		&-right {
			transform+_: rotate(@icon-angle-right);
		}
		&-bottom {
			transform+_: rotate(@icon-angle-down);
		}
		&-left {
			transform+_: rotate(@icon-angle-left);
		}
	}
	.iconBg(edit);
	&--garbage {
		background: url('@{img-theme-path}svg/garbage.svg') center center no-repeat;
		&-carnation {
			background: url('@{img-theme-path}svg/garbage-carnation.svg') center center no-repeat;
		}
	}
	&--home {
		background: url('@{img-theme-path}svg/home.svg') center center no-repeat;
		&-carnation {
			background: url('@{img-theme-path}svg/home-carnation.svg') center center no-repeat;
		}
	}
	&--inline {
		display: inline;
		&-block {
			display: inline-block;
		}
	}
	&--list {
		background: url('@{img-theme-path}svg/list.svg') center center no-repeat;
	}
	&--lock {
		background: url('@{img-theme-path}svg/lock.svg') center center no-repeat;
	}
	.iconBg(mail);
	.iconBg(mailbox);
	&--minus {
		background: url('@{img-theme-path}svg/minus.svg') center center no-repeat;
		&-carnation {
			background: url('@{img-theme-path}svg/minus-carnation.svg') center center no-repeat;
		}
		&-white {
			background: url('@{img-theme-path}svg/minus-white.svg') center center no-repeat;
		}
	}
	.iconBg(order-history);
	&--pos {
		&-right {
			background-position: center right;
		}
	}
	&--plus {
		background: url('@{img-theme-path}svg/plus.svg') center center no-repeat;
		&-carnation {
			background: url('@{img-theme-path}svg/plus-carnation.svg') center center no-repeat;
		}
		&-white {
			background: url('@{img-theme-path}svg/plus-white.svg') center center no-repeat;
		}
	}
	&--search {
		background: url('@{img-theme-path}svg/search.svg') center center no-repeat;
		&-white {
			background: url('@{img-theme-path}svg/search-white.svg') center center no-repeat;
		}
	}
	&--user {
		background: url('@{img-theme-path}svg/user.svg') center center no-repeat;
		&-circle {
			background: url('@{img-theme-path}svg/user-circle.svg') center center no-repeat;
		}
		&-new {
			background: url('@{img-theme-path}svg/user-new.svg') center center no-repeat;
			&-white {
				background: url('@{img-theme-path}svg/user-new-white.svg') center center no-repeat;
			}
		}
		&-white {
			background: url('@{img-theme-path}svg/user-white.svg') center center no-repeat;
		}
	}
	&--woman {
		background: url('@{img-theme-path}svg/profil-femme.svg') center center no-repeat;
		&-circle {
			background: url('@{img-theme-path}svg/profil-compte-femme.svg') center center no-repeat;
		}
		&-new {
			background: url('@{img-theme-path}svg/user-new.svg') center center no-repeat;
			&-white {
				background: url('@{img-theme-path}svg/user-new-white.svg') center center no-repeat;
			}
		}
		&-white {
			background: url('@{img-theme-path}svg/user-white.svg') center center no-repeat;
		}
	}

	&--order-history-dropdown {
		background: url('@{img-theme-path}svg/order-history.svg') left center no-repeat;
		background-size: 16%;
	}
	&--wrapper {
		min-height: 1em;
		min-width: 1em;
		position: relative;
	}
}
