.minicartItem {
	border-bottom: 1px solid @cart-borders-color;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 57px 20px 30px;
	@media @mquery-desktop {
		padding: 19px 17px 19px 20px;
	}
	&--delete {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 38%;
		@media @mquery-desktop {
			width: 8.8%;
		}
		.icon {
			background-position: 80%;
			background-size: 40%;
			@media @mquery-desktop {
				background-size: 100%;
				opacity: 0.3;
			}
		}
	}
	&--image {
		width: 33%;
		@media @mquery-desktop {
			width: 19.5%;
		}
		a {
			border: 1px solid @color-alto;
		}
		img {
			width: 100%;
		}
	}
	&--infos {
		padding: 0 0 0 36px;
		width: 66%;
		@media @mquery-desktop {
			display: flex;
			padding: 0 0 0 22px;
			width: 80.5%;
		}
		&-part {
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
			}
			&-1 {
				@media @mquery-desktop {
					width: 35%;
				}
			}
			&-2 {
				@media @mquery-desktop {
					align-items: center;
					display: flex;
					flex-direction: row;
					width: 65%;
				}
			}
		}
	}
	&--name {
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		margin-bottom: 20px;
		@media @mquery-desktop {
			font-size: 16px;
			margin-bottom: 0;
		}
		a {
			.ellipsisString();
		}
	}
	&--price {
		>.price--line {
			flex-direction: column;
		}
	}
	&--qty {
		display: flex;
		margin-bottom: 20px;
		white-space: nowrap;
		width: 100%;
		@media @mquery-desktop {
			margin-bottom: 10px;
			width: 41.4%;
		}
		&-selector {
			display: inline-block;
			width: 68%;
			@media @mquery-desktop {
				width: 100%;
			}
			.qty-selector {
				&--input {
					font-size: 32px;
					@media @mquery-desktop {
						font-size: 16px;
						padding: 7px 0;
					}
				}
			}
		}
	}
	&--stock {
		&-ok {
			background-position: left;
			color: @color-jungle-green;
			display: inline-block;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			margin-bottom: 16px;
			padding-left: 64px;
			width: inherit;
			@media @mquery-desktop {
				font-size: 16px;
				margin-bottom: 8px;
				padding-left: 32px;
			}
		}
	}
	&--total {
		display: block;
		@media @mquery-desktop {
			width: 49.81%;
		}
	}
	.price {
		&--base,
		&--currency,
		&--discount,
		&--strike {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--base {
			margin: 1rem 0 0;
		}
		&--line {
			.price--line {
				margin: 0;
			}
		}
		&--line,
		&--sticker {
			margin: 0 0 26px;
			@media @mquery-desktop {
				margin: 0;
			}
		}
		&--sticker {
			font-size: 28px;
			@media @mquery-desktop {
				border-radius: 4px;
				font-size: 14px;
				padding: 5px 10px;
			}
		}
		&--strike {
			font-size: 20px;
			margin: auto 34px 0 0;
			@media @mquery-desktop {
				font-size: 16px;
				margin: auto 17px 0 0;
			}
		}
		&--total {
			font-size: 40px;
			@media @mquery-desktop {
				font-size: 20px;
			}
		}
	}
}
