.navigation-account {
	@media @mquery-desktop {
		color: @color-black;
		display: inline-block;
		font-family: 'roboto-regular', arial, sans-serif;
		font-size: 16px;
	}
	&--nav {
		position: absolute;
		right: 0;
		top: 27px;
		width: 203px;
		z-index: @z-index-account-menu;
		.nav__links {
			li {
				background-color: @meta-nav-background;
				display: block;
				font-size: 16px;
				list-style: none;
				margin: 0;
				text-align: left;
				white-space: nowrap;
				width: 100%;
				@media @mquery-desktop {
					border: 0;
					border-bottom: 1px solid @meta-nav-border-color;
					border-right: 0;
					font-family: 'roboto-light', arial, sans-serif;
				}
				&:before {
					content: none;
				}
				a {
					color: @color-black;
					display: block;
					padding: 2%;
					text-decoration: none;
				}
			}
		}
	}
	a {
		@media @mquery-desktop {
			color: @color-black;
		}
	}
	.nav__links {
		&--account {
			>li {
				position: relative;
			}
		}
	}
	.icon {
		display: inline-block;
		height: 24px;
		left: 0;
		.valign(50%);
		width: 24px;
	}
	.user {
		&-name {
			display: inline-block;
		}
	}
	li {
		margin-left: 1em;
		padding: 0 2em 0 2em;
		position: relative;
		&:before {
			background-color: @color-carnation;
			content: '';
			height: 80%;
			right: 0;
			.valign(50%, inherit);
			width: 1px;
		}
		&:last-child {
			padding: 0 0 0 2.5em;
		}
		&:last-child:before {
			content: none;
		}
	}
	li.item {
		&--no-icon {
			padding: 0 0 0 1em;
		}
	}
	>ul {
		display: flex;
		margin: auto auto auto 0;
	}
}

.account-section-header {
	font-family: 'playfairdisplay-bold', arial, sans-serif;
	font-size: 56px;
	@media @mquery-desktop {
		font-size: 40px;
		padding-bottom: 26px;
	}
	.arrow-left {
		background-size: 15%;
	}
	.account-section-header-orderhistory {
		font-size: 1rem;
		.glyphicon-chevron-left {
			vertical-align: initial;
		}
	}
}
