.page-selection {
	display: inline-block;
	font-size: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	@media @mquery-desktop {
		font-size: 16px;
		text-align: right;
	}
	&--number {
		color: @color-black;
		a {
			color: @color-black;
			text-decoration: none;
		}
	}
	>li {
		border: 1px solid @color-rolling-stone;
		border-radius: 12px;
		display: inline-block;
		margin: 0 0.6%;
		padding: 2.6% 4.6%;
		@media @mquery-desktop {
			border-radius: 4px;
			margin: 0;
			padding: 1% 1.6%;
		}
		&:not(.disabled):not(.active){
			cursor: pointer;
		}
	}
	.active {
		background-color: @color-carnation;
		border: 1px solid @color-carnation;
		color: @color-white;
	}
}
