.pagination {
	margin: 0;
	width: 100%;
	&--container {
		&--filter {
			@media screen and @mquery-desktop-min {
				padding: 25px 0 17px;
			}
			&-refine {
				margin: 4% auto;
				width: 86%;
				@media screen and @mquery-desktop-min {
					display: none;
				}
				button {
					background-color: @color-carnation;
					border: 0;
					border-radius: 6px;
					color: @color-white;
					font-size: 40px;
					font-weight: 300;
					padding: 3.5% 0;
					width: 100%;
				}
			}
			&-page {
				@media screen and @mquery-desktop-min {
					display: flex;
				}
				&--page-selection {
					margin: auto 6%;
					@media screen and @mquery-desktop-min {
						align-items: center;
						display: flex;
						justify-content: flex-end;
						margin: 0;
						text-align: right;
						width: 81.8%;
					}
					@media @mquery-mobile-max {
						display: flex;
						flex-direction: row;
						justify-content: center;
					}
					li {
						border: 1px solid #808285;
						border-radius: 0.15384615384615385rem;
						font-size: 0.6153846153846154rem;
						list-style: none;
						margin-right: 10px;
						padding: 1% 1.6%;
						&.active {
							background-color: @color-carnation;
							border: 1px solid @color-carnation;
							color: @color-white;
						}
						&.next {
							font-weight: bold;
							padding: 1% 1%;
						}
						&.prev {
							font-weight: bold;
							padding: 1% 1%;
						}
					}
				}
				&--sortBy {
					margin: 4% auto;
					width: 86%;
					@media screen and @mquery-desktop-min {
						margin: 0;
						width: 22.2%;
					}
					select {
						font-family: 'roboto-light', arial, sans-serif;
						font-size: 40px;
						@media screen and @mquery-desktop-min {
							font-size: 20px;
						}
					}
				}
			}
		}
		.nbResults {
			border-top: 1px solid @color-mercury;
			direction: ltr;
			display: none;
			font-size: 16px;
			padding: 10px 0 30px;
			@media screen and @mquery-desktop-min {
				display: block;
			}
			span {
				font-weight: bold;
			}
		}
		.showall {
			display: block;
			font-size: 0.6153846153846154rem;
			padding: 1% 1.6%;
			text-align: right;
			text-decoration: underline;
			@media @mquery-mobile-max {
				margin-left: 6%;
			}
		}
		.noshowall {
		    display: block;
			font-size: 0.6153846153846154rem;
			padding: 1% 1.6%;
			text-align: right;
			text-decoration: underline;
			@media @mquery-mobile-max {
				margin-left: 6%;
			}
		}
	}
	.form-group {
		margin: 0;
	}
}
