.product-list {
	@media @mquery-desktop {
		display: flex;
		flex-direction: row;
	}
	&--filters {
		background-color: @color-white;
		display: none;
		padding: 0 0 50px;
		@media @mquery-desktop {
			display: block;
			width: 20.86%;
		}
	}
	&--list {
		direction: ltr;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		width: 92.5%;
		@media @mquery-desktop {
			justify-content: inherit;
			width: 100%;
		}
		&>div {
			width: 48%;
			@media @mquery-desktop {
				width: 15%;
			}
		}
		.button {
			.icon {
				height: 1.8rem;
				@media @mquery-desktop {
					height: inherit;
				}
			}
		}
	}
	&--results {
		@media @mquery-desktop {
			padding: 0 0 0 69px;
			width: 79.14%;
		}
	}
	.page-selection {
		margin-bottom: 2rem;
		@media @mquery-desktop {
			margin: 0;
		}
	}
	.product-tile {
		margin: 0 0 3rem;
		@media @mquery-desktop {
			margin: 0 0.3rem 3rem;
		}
		&--buttons {
			font-size: 16px;
			@media @mquery-desktop {
				font-size: 14px;
			}
		}
		&--name {
			font-size: 18.54px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--price {
			.price {
				&--base {
					font-size: 24px;
					@media @mquery-desktop {
						font-size: 16px;
					}
				}
				&--discount {
					font-size: 24px;
					@media @mquery-desktop {
						font-size: 16px;
					}
				}
				&--strike {
					font-size: 20px;
					@media @mquery-desktop {
						font-size: 14px;
					}
				}
			}
		}
	}
	.product-tile--qty-selector {
		width: 100%;
		@media @mquery-desktop {
			width: 50%;
		}
		.qty-selector--input {
			@media @mquery-desktop {
				padding: 5px;
			}
		}
	}
}
