		.product-details {
			@media screen and @mquery-desktop-min {
				display: flex;
				flex-direction: row;
			}
			&--carousel {
				@media screen and @mquery-desktop-min {
					display: inline-block;
					width: 50%;
				}
				&-name {
					font-family: arial;
					font-size: 56px;
					font-weight: 600;
					margin: 2% 0 1%;
					padding: 0 4%;
					text-align: left;
					@media screen and @mquery-desktop-min {
						margin: 0 15.5%;
						font-size: 1.2rem;
					}
				}
				.image-gallery {
					position: relative;
					@media screen and @mquery-desktop-min {
						margin: 0 17%;
					}
					.gallery-carousel {
						margin: 0 4% 4%;
						&--item {
							border: 1px solid @border-color;
							display: inline-block;
							margin: 0 -0.28em 0 0;
							width: 20%;
							img {
								height: auto;
								width: 100%;
							}
						}
					}
					.sticker:nth-of-type(1) {
						right: 0;
					}
					.sticker360 {
						height: 100%;
						left: inherit;
						margin-left: 0.28em;
						position: absolute;
						right: inherit;
						a {
							height: 100%;
							opacity: 0.5;
							transition:0.5s all;
							width: 100%;
							&:hover {
								opacity: 1;
							}
						}
					}
					.carousel--pdp {
						padding: 1pxi;
					}
					.empty--360--product {
						.sticker360 {
							height: inherit;
							margin-left: 0;
							position: relative;
							a {
								height: 2.5rem;
							}
						}
					}
				}
			}
			&--info {
				@media screen and @mquery-desktop-min {
					display: inline-block;
					width: 609px;
				}
				&--brand {
					margin: 2% 12% 5% 0;
					text-align: right;
					@media screen and @mquery-desktop-min {
						margin: 2% 12% 5% 2%;
						text-align: left;
					}
					&-img {
						height: auto;
						margin-bottom: 5%;
						margin-right: 1%;
						width: 25%;
						@media screen and @mquery-desktop-min {
							margin-top: 3%;
							width: 18%;
						}
					}
					&-link {
						color: @color-black;
						font-size: 24px;
						position: relative;
						text-decoration: none;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
						}
						&::after {
							background: url('@{img-theme-path}svg/arrow.svg') no-repeat 0 0;
							background-size: 100%;
							content: '';
							height: 160%;
							position: absolute;
							right: -29%;
							top: -19%;
							transform: rotate(90deg);
							width: 27%;
							.svgColor(@color-carnation);
							@media screen and @mquery-desktop-min {
								display: none;
							}
						}
					}
				}
				&--first-section {
					margin: 4% 8% 4% 9%;
					@media screen and @mquery-desktop-min {
						align-items: flex-end;
						display: flex;
						justify-content: space-between;
						margin: 6% 0 1% 0%;
						padding: 0 25px;
					}
					&-add {
						color: @color-carnation;
						font-size: 32px;
						margin-top: 3%;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
							margin-right: 43%;
						}
					}
					&-link {
						color: @color-black;
						font-size: 32px;
						position: relative;
						text-decoration: none;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
						}
						&::after {
							background: url('@{img-theme-path}svg/arrow.svg') no-repeat 0 0;
							background-size: 100%;
							content: '';
							height: 105%;
							position: absolute;
							right: 0;
							top: 34%;
							transform: rotate(180deg);
							width: 15%;
							.svgColor(@color-carnation);
							@media screen and @mquery-desktop-min {
								display: none;
							}
						}
					}
					&-price {
						margin: 2% 0 0;
						text-align: right;
						@media screen and @mquery-desktop-min {
							text-align: left;
						}
						.price-currency {
							font-weight: 100;
						}
						.price--base,
						.price--discount {
							font-size: 64px;
							@media screen and @mquery-desktop-min {
								font-size: 32px;
							}
							span {
								font-size: 32px;
								@media screen and @mquery-desktop-min {
									font-size: 16px;
								}
							}
						}
						.price--strike {
							font-size: 48px;
							margin: 0 50px 0 0;
							@media screen and @mquery-desktop-min {
								display: block;
								font-size: 24px;
							}
						}
					}
				}
				&--second-section {
					background-color: @color-concrete;
					padding: 3% 6.5% 10%;
					@media screen and @mquery-desktop-min {
						padding: 3% 0 1% 2.5%;
					}
					.qty-selector {
						margin: 0;
						width: 50%;
					}
				}
			}
		}
