.page-cartPage {
	.cart--continue-shopping-button {
		background: #f3f3f3;
		border: 1px solid #808285;
		color: @color-thunder;
		font-size: 20px;
	   font-weight: 300;
	   padding: 0.5em 1em;
	}
	.cart--footer-bottom {
		.cart--totals-line {
			background-color: @color-white;
			.mini-cart-checkout-button {
				margin-right: 57px;
				margin-top: 36px;
				@media (max-width: @screen-sm-max) {
					margin: 64px 48px 88px 48px;
				}
				&:hover {
					color: @color-white;
					text-decoration: none;
				}
			}
		}
	}
	#cboxLoadedContent {
		align-items: center;
		display: flex;
    	.help-popup-content {
    		font-size: 10pxi;
    		padding: 2rem 0 1.5rem;
    	}
	}
}
