@import '_navigation.less';

header {
	background: @header-background-color;

	.page-cartPage &,
	.page-homepage &,
	.page-productGrid &,
	.page-searchGrid &,
	.page-search &,
	.page-cartPage &,
	.pageType-CategoryPage & {
		margin-bottom: 0;
	}
}
