.account-shopping-list{
	margin-bottom: 1rem;
	@media @mquery-desktop-min {
		width: 30%;
	}
	.linkWidhList {
		border: 1px solid;
		border-color: rgba(35, 31, 32, 0.5);
		border-radius: 6px;
		color: rgba(35, 31, 32, 0.5);
		padding: 0.7rem;
		text-align: center;
		width: 100%;
	}
	table {
		width: 100%;
		tr {
			td {
				padding: 0.5rem 0;
			}
		}
	}
}

.my-account-wishlist {
	padding: 0 1rem;
	@media screen and @mquery-desktop-min {
		padding: 0;
	}
	@media @mquery-mobile-max {
		margin-bottom: 20px;
	}
	.linksWishlist {
		padding-left: 3rem;
		@media @mquery-mobile-max {
			padding-left: 0;
		}
		a {
			color: @color-carnation;
			display: table-cell;
			font-family:playfair-display-regular, arial, sans-serif;
			font-size: 0.7rem;
			font-weight: bold;
			padding: 0 0.3rem;
			&:hover {
				text-decoration:underline;
			}
		}
		.tools {
			display: inline-block;
			margin-bottom: 0.15rem;
			vertical-align: sub;
			@media @mquery-mobile-max {
				margin-bottom: 0.15rem;
			}
		}
	}
	.wishlistShare {
		.checkbox input[type='checkbox'] + label:before {
			height: 1rem;
			left: 0.6rem;
			width: 1rem;
		}
	}
}

.cart-list {
	clear: both;
	width: 100%;
}
.checkbox {
	input[type='checkbox']{
		display: none;
	}

	input[type='checkbox'] + label {
	    color: @color-black;
	    display: table-cell;
	    font-size: 0.7rem;
	    font-weight: bold;
	    height: 2.5rem;
	    padding: 0 0 0 2.2rem;
	    position: relative;
	    text-transform: inherit;
	    vertical-align: middle;
	}

	input[type='checkbox'] + label:before {
	    background-color: @color-white;
	    border: 1px solid @color-mercury;
	    border-radius: 7px;
	    content: '';
	    height: 1.3rem;
	    left: 0.4rem;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 1.3rem;
	}

	input[type='checkbox']:checked + label:after {
		-webkit-text-stroke: 1px #fff;
		color: @color-black;
	    content: '\e013';
	    font-family: 'Glyphicons Halflings';
	    font-size: 0.7rem;
	    height: 0.9rem;
	    left: 0.6rem;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 0.9rem;
	}

	&.selectAll {
		input[type='checkbox'] + label {
			color: @color-carnation;
			font-size: 0.6rem;
		}
	}
}
.wishListTotals {
	float: right;
	h2 {
		color: #000;
		font-size: 1rem;
	}
	.cart-totals {
		background: #eee;
		border-bottom: 1px solid #ddd;
		td {
			font-size: 0.7rem;
			padding: 0.5rem;
			&.titleTotal {
				width: 50%;
			}
			&.price {
				color: @color-carnation;
				font-size: 1rem;
				font-weight: bold;
				text-align: right;
			}
			#itemsCount {
				font-weight: bold;
			}
		}
	}
}


.wishListPopin {
	input[type='text'],
	select {
		padding: 0.5rem;
		width: 100%;
	}
	.actions {
		margin: 1rem auto;
		text-align: center;
		.btn {
			border-radius: 0.2rem;
			font-size: 0.77rem;
			&.btn-primary,
			&.btn-alt {
				background-color: #ef5664;
				border: 1px solid #ef5664;
				border-radius: 0.2rem;
				color: #FFF;
				cursor: pointer;
			    font-weight: inherit;
			    padding: 1em 2em;
			    text-align: center;
			}
		}
	}
}

.wishListAddToCart {
	clear: both;
	float: right;
}

.displayPopin {
    display: none;
}

#cboxContent {
	height: 100%;
	#cboxLoadedContent {
		height: 100%;
		@media @mquery-mobile-max {
			margin-top: 0.5rem;
		}
		#idResult {
			#idResultwishlist {
				.itemAdded {
					text-align: center;
					img {
						display: block;
						margin: 0 auto;
						padding: 18px 0;
					}
					span {
						a {
							display: inline-block;
						}
					}
				}
			}
		}
		.wishListPopin {
			div {
				#idSelectOption {
					@media @mquery-mobile-max {
						padding: 0.3rem 0;
					}
				}
			}
			#newWishlistSection {
				margin-bottom: 0.5rem;
				@media @mquery-mobile-max {
					margin-bottom: 0.5rem;
					margin-top: 0.1rem;
				}
				input {
					padding: 0.3rem;
					@media @mquery-mobile-max {
						padding: 0.2rem 0;
					}
				}
			}
			.wishListPopin--button {
				div {
					#wishlistCancel {
						padding: 0.3rem;
						&:hover {
							color: @color-white;
						}
						@media @mquery-mobile-max {
							margin-bottom: 4px;
							padding: 0.38rem 0;
						}
					}
					#idSubmitNewWishlist {
						padding: 0.3rem;
						@media @mquery-mobile-max {
							padding: 0.38rem 0;
						}
					}
				}
			}
		}
		h2 {
			font-size: 1.8rem;
			text-align: center;
			@media @mquery-mobile-max {
				font-size: 1rem;
			}
		}
		#shareForm {
			.text {
				margin-bottom: 2px;
				text-align: center;
				input {
					margin-left: 15pxi;
					width: 47%;
				}
			}
			.actions {
				margin-top: 10px;
				button {
					padding: 0.6rem 2rem;
					width: 30%;
					@media @mquery-mobile-max {
						padding: 0.6rem 1rem;
						width: 40%;
					}
				}
			}
		}
	}
}
.wishlistShare .account-section-header-add a:hover {
     color: #FFF;
}

#wishlistCancel {
	&:hover {
		color: @color-white;
	}
}
