<%@ attribute name="cartData" required="true" type="de.hybris.platform.commercefacades.order.data.CartData" %>
<%@ attribute name="showTax" required="false" type="java.lang.Boolean" %>
<%@ attribute name="showTaxEstimate" required="false" type="java.lang.Boolean" %>
<%@ attribute name="subtotalsCssClasses" required="false" type="java.lang.String" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="format" tagdir="/WEB-INF/tags/shared/format" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
	
<div class="subtotals ${subtotalsCssClasses}">
	<div class="cart--totals totals">
		<div class="cart--totals-title"><spring:theme code="basket.page.totals.total"/></div>
		<div class="cart--totals-line cart--totals-subtotal">
			<div class="cart--totals-left cart--totals-total-text">
				<spring:theme code="basket.page.totals.subtotal.original"/>
			</div>
			<div class="cart--totals-right">
				<span class="price--currency">${cartData.totalPrice.currencyIso}&nbsp;</span>
				<span class="price--base">${cartData.subTotal.value}</span>
			</div>
		</div>
		<div class="cart--totals-line cart--totals-qty">
			<div class="cart--totals-left cart--totals--qty-text js-number-items-popin"><spring:theme code="basket.page.totals.total.items" arguments="${cartData.totalUnitCount}"/></div>
			<div class="cart--totals-right">&nbsp;</div>
		</div>
		<c:choose>
			<c:when test="${not empty cartData.deliveryCost}">
				<div class="cart--totals-line cart--totals-shipping">
					<div class="cart--totals-left cart--totals-shipping-text"><spring:theme code="basket.page.shipping"/></div>
					<div class="cart--totals-right cart--totals-shipping-amount"><format:priceDom priceData="${cartData.deliveryCost}" displayFreeForZero="TRUE"/></div>
				</div>
			</c:when>
			<c:when test="${empty cartData.deliveryCost and empty cartThresholdConfigurationData}">
				<div class="cart--totals-line cart--totals-shipping">
					<div class="cart--totals-left cart--totals-shipping-text"><spring:theme code="basket.page.shipping"/></div>
					<div class="cart--totals-right cart--totals-shipping-amount"><spring:theme code="text.free"/></div>
				</div>
			</c:when>
		</c:choose> 
		<c:if test="${cartData.totalDiscounts.value > 0}">
			<div class="cart--totals-line cart--totals-savings">
				<div class="cart--totals-left cart--totals-savings-text"><spring:theme code="basket.page.totals.savings"/></div>
				<div class="cart--totals-right cart--totals-savings-amount">
					<ycommerce:testId code="Order_Totals_Savings"><format:priceDom priceData="${cartData.totalDiscounts}"/></ycommerce:testId>
				</div>
			</div>
		</c:if>
		<div class="cart--totals-line cart--totals-total">
			<div class="cart--totals-left cart--totals-total-text"><spring:theme code="basket.page.total"/></div>
			<div class="cart--totals-right cart--totals-total-amount js-mini-cart-price">
				<ycommerce:testId code="cart_totalPrice_label">
					<c:choose>
						<c:when test="${showTax}">
							<format:priceTotalDom priceData="${cartData.totalPriceWithTax}"/>
						</c:when>
						<c:otherwise>
							<format:priceTotalDom priceData="${cartData.totalPrice}"/>
						</c:otherwise>
					</c:choose>
				</ycommerce:testId>
			</div>
		</div>
		<div class="cart--totals-line">&nbsp;</div>
		<div class="cart--totals-line">&nbsp;</div>
	</div>
</div>
	
