body.page-orderConfirmationPage {
	@media print {
		overflow: inherit !important;
		header {
			display: none;
		}
		#underHeader {
			height: inherit !important;
			overflow: inherit;
			footer {
				display: none;
			}
		}
		#content {
			width: 100%;
		}
		.account-section-content {
			div {
				@media (max-width: 1024px) {
					text-align: left !important;
				}
			}
		}
		.cartItem--image {
			a {
				display: inline-block;
				img {
					width: inherit;
				}
			}
		}
		.checkout__confirmation__content--component {
			&:nth-child(4) {
				page-break-before: always;
			}
			.well-global {
				background-color: #f3f3f3 !important;
			}
			div {
				.pull-right {
					.continue__shopping {
						display: none;
					}
				}
				#cartTotalsDisplay {
					.cart--totals {
						background-color: #f3f3f3 !important;
						.cart--totals-title {
							background-color: #fff !important;
						}
						.cart--totals-total {
							.cart--totals-total-amount {
								span {
									color: @color-carnation !important;
								}
							}
						}
						.cart--totals-taxes {
							text-align: right;
						}
					}
				}
				.item__list {
					.cartItem {
						.cartItem--infos {
							.cartItem--infos-part-1 {
								.cartItem--subinfos {
									.cartItem--name {
										font-size: 10pxi;
										margin-bottom: inherit;
										a {
											font-size: 10pxi;
										}
									}
								}
								.cartItem--price {
									.price--sticker {
										color: @color-black !important;
										font-size: 10pxi;
										margin: inherit;
										padding: inherit;
									}
									.price--line {
										margin: inherit;
										.price--strike {
											color: #808285 !important;
											font-size: 10pxi;
											span {
												color: #808285 !important;
												font-size: 10pxi;
											}
										}
										.price--discount {
											font-size: 10pxi;
											span {
												font-size: 10pxi;
											}
										}
										.price--base {
											color: @color-carnation !important;
											font-size: 10pxi;
											margin: inherit;
											span {
												color: @color-carnation !important;
												font-size: 10pxi;
											}
										}
									}
								}
								.cartItem--stock {
									.cartItem--stock-ok {
										color: #2db95D !important;
										font-size: 10pxi;
										margin: inherit;
										padding-left: 0px !important;
									}
								}
							}
							.cartItem--infos-part-2 {
								.cartItem--qty-selection-row {
									.cartItem--qty {
										margin: inherit;
									}
									.price--total {
										span {
											color: @color-carnation !important;
										}
									}
								}
							}
						}
					}
				}
				.well-quinary {
					.well-content {
						padding-left: 15pxi !important;
					}
				}
				.checkout-success__body {
					p {
						padding-left: 10pxi !important;
					}
				}
			}
		}
	}
}

@media print {
	a[href]:after {
		display: none;
	}
}

html {
	@media print {
		font-size: 12pxi;
	}
}
