## messageSource=classpath:/sharjahcore/messages/email-orderPartiallyCanceled_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

#if (${ctx.messages.lang} == "ar")
  <html dir="rtl" lang="ar">
#else
  <html>
#end
	<head>
	</head>
	<body bgcolor="#ffffff"
	#if ( $ctx.isGuest() )
	    #set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.orderGuid}")
	#else
	    #set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.orderCode}")
	#end
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#000000">
										#if (! $ctx.isGuest())
											<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}"><font color="#FFFFFF">${ctx.messages.home}</font></a> |
										#end <a href="${ctx.baseUrl}/store-finder"><font color="#FFFFFF">${ctx.messages.storeFinder}</font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									#if (${ctx.messages.lang} == "ar")
										<td align="right" valign="top" >
									#else
										<td align="left" valign="top" >
									#end
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})},</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('confirmcancelledItems', "#genHtmlBoldFont(${ctx.orderCode})")}</font></p>
										<!--products start-->
										<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#bfc1c0" class="products">
											<tr>
												<td>
													<table width="100%" cellpadding="0" cellspacing="0">
														<tr>
															<td width="50%">&nbsp;</td>
															<td width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.quantity}</b></font></td>
															<td width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.itemPrice}</b></font></td>
															<td width="16%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}</b></font></td>
														</tr>
														#foreach( $orderEntry in ${ctx.canceledEntries} )
														<tr>
															<td>
																<table width="100%" border="0" cellpadding="0" cellspacing="0">
																	<tr>
																		<td valign="top">
																			<a href="${ctx.baseUrl}$orderEntry.product.url">
																				#foreach($image in $orderEntry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
																				<img src="${ctx.mediaBaseUrl}$image.url" alt="" title="$orderEntry.product.name" />
																				#end #end
																			</a>
																			&nbsp;
																		</td>
																		<td valign="top">
																			<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
																				<a href="${ctx.baseUrl}$orderEntry.product.url"><font color="#666666"><b>$orderEntry.product.name</b></font></a>
																			</p>
																			#if (!$orderEntry.product.baseOptions.isEmpty())
																			#foreach ($option in $orderEntry.product.baseOptions)
																			#if ($option.selected && ($option.selected.url == $orderEntry.product.url))
																			<table width="100%" cellpadding="0" cellspacing="0">
																				#foreach ($selectedOption in $option.selected.variantOptionQualifiers)
																				<tr>
																					<td width="30%"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.name:</font></p></td>
																					<td width="70%"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.value</font></p></td>
																				</tr>
																				#end
																			</table>
																			#end
																			#end
																			#end
																		</td>
																	</tr>
																</table>
															</td>
															<td valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$orderEntry.quantity</font></p></td>
															<td valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$orderEntry.basePrice.formattedValue</font></p></td>
															<td valign="top"><p><font color="#414a4f" size="3" face="Arial, Helvetica, sans-serif"><b>#if($orderEntry.totalPrice.value > 0) $orderEntry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></font></p></td>
														</tr>
														#end
													</table>
												</td>
											</tr>
										</table>
										<!--products end-->
										<br/>
										#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
										#if(${ctx.baseSite.Uid} == "sharjah")
										#set ($contactUsPage = "${ctx.baseUrl}/contactus")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs_sharjah', "#genHtmlLinkStartTag($contactUsPage)", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#else
										#set ($faqPage = "${ctx.baseUrl}/faq")
										#set ($contactUsPage = "${ctx.baseUrl}/contactus")
										#set ( $paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag($contactUsPage)", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")} )
										#end
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$paragraphContactUs</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.contact2}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.contact3}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.complimentaryClosing}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature}</font></p>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#000000">
										<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.baseUrl}/faq"><font color="#FFFFFF">${ctx.messages.faq}</font></a> | <a href="${ctx.baseUrl}/contactus"><font color="#FFFFFF">${ctx.messages.contactUs}</font></a> | <a href="${ctx.baseUrl}/returnpolicy"><font color="#FFFFFF">${ctx.messages.termsAndCondition}</font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>
