@grid-gutter-width: 20px;
@padding-large-horizontal: 15px;

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@pager-border-radius: 0;

// @font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Cabin", Helvetica, Arial, sans-serif;
@font-family-sans-serif: "Open Sans",
Helvetica,
Arial,
sans-serif;


//== Pagination
//
//##
@pagination-bar-framed: false;

@pagination-border-width: 1px;
@pagination-height-base: @input-height-base - (@pagination-border-width * 2);
@pagination-height-large: @input-height-large - (@pagination-border-width * 2);
@pagination-width-base: @pagination-height-base;
@pagination-width-large: 40px;

@pagination-border: @border-color-3;
@pagination-font-size: @font-size-base;
@pagination-font-weight: 400;


@pagination-active-color: @btn-primary-color;
@pagination-active-font-weight: 400;

@pagination-hover-bg: transparent;
@pagination-hover-color: @pagination-active-color;

@pagination-disabled-color: @pagination-active-color;

@pagination-prev-next-hover-bg: @btn-primary-bg;
@pagination-prev-next-hover-color: @btn-primary-color;



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
@state-success-text: #3e5983;
@state-success-bg: #dff0d8;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);

@state-info-text: #FFFFFF;
@state-info-bg: #32CD32;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);

@state-warning-text: #8a6d3b;
@state-warning-bg: #fcf8e3;
@state-warning-border: darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text: @text-color;
@state-danger-bg: #f2dede;
@state-danger-border: darken(spin(@state-danger-bg, -10), 5%);


//== Forms
//
//##
//** Border color for inputs on focus
//@input-border:                   #ccc;
@input-border-focus: @brand-danger;

//** Border color for inputs on error
@input-error: @brand-danger;

//** Background color for inputs on error
@input-error-bg: #ffffff;
//** color for error text
@input-error-text: @brand-danger;
@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #000000;

//** Large `.form-control` height
@input-padding-vertical-small: 9px;
@input-height-small: (ceil(@font-size-base * @line-height-base) + (@input-padding-vertical-small * 2)+1);




//== Panels
//
//##
@panel-default-text: @gray-dark;
@panel-default-border: #ddd;
@panel-default-heading-bg: @grayblue;






//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
@screen-xs: 480px;
@screen-sm: 640px;
@screen-md: 1024px;
@screen-lg: 1400px;


// Small screen / tablet
@container-tablet: @screen-sm;
// Medium screen / desktop
@container-desktop: @screen-md;
// Large screen / wide desktop
@container-large-desktop: @screen-lg;


@container-sm: 100%;




@left-offcanvas-width: 380px;
@left-offcanvas-rightside-width: 70px;








//** Background color of the whole progress component
@progress-bg: #f5f5f5;
//** Progress bar text color
@progress-bar-color: #fff;

//** Default progress bar color
@progress-bar-bg: @brand-primary;
//** Success progress bar color
@progress-bar-success-bg: @brand-success;
//** Warning progress bar color
@progress-bar-warning-bg: @brand-warning;
//** Danger progress bar color
@progress-bar-danger-bg: @brand-danger;
//** Info progress bar color
@progress-bar-info-bg: @brand-info;


//Width Variables
@full-width: 100%;







//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                    NO THEME COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
@brand-primary: #000000;

@brand-info: #000000;

@grayblue: #000000;


//*********Typography Colors*********
@text-color: #000000;
@text-color-secondary: #000000;
@link-color: #000000;
@headline-color: #000000;

//== Borders
@border-color: #000000;
@border-color-2: #000000;
@border-color-3: #000000;


//*********form colors*********
@label-color: #000000;
@input-color: #000000;
@input-height-base: 32px;
@input-height-large: 42px;
@input-background: #ffffff;
@input-border-color: #000000;
@placeholder-color: #000000;


//*********Header Background*********
@header-background-color: #ffffff;
@nav-border-color: #000000;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @link-color;
@meta-nav-color-open: @link-color;
@meta-nav-hover-color: #ffffff;
@meta-nav-border-color: #ffffff;
@meta-nav-background: #ffffff;
@meta-nav-hover-background: #ffffff;


//*********Search*********
@searchbar-icon-color: #000000;
@autocomplete-background: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: @brand-primary;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: #ffffff;
@nav-icon-dropdown-background: #ffffff;
@navigation--middle-height: 60px;


//*********Header Navigation-Categories Background*********
@nav-cat-background: #ffffff;
@nav-cat-border: #000000;
@nav-cat-hover-background: #ffffff;
@nav-cat-link-color: #000000;
@nav-cat-font-size: 12px;
@nav-subcat-color: #ffffff;
@nav-subcat-title-color: #000000;
@nav-subcat-background: #ffffff;
@nav-subcat-border-color: #000000;
@nav-subcat-hover-background: #ffffff;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: #000000;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled: #ffffff;
@offcanvas-meta-nav-color: #ffffff;
@offcanvas-meta-nav-border-color: #000000;
@offcanvas-meta-nav-background: #ffffff;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @brand-primary;
@offcanvas-nav-cat-title-color: #000000;
@offcanvas-nav-cat-background: #ffffff;
@offcanvas-nav-cat-border-color: #ffffff;
@offcanvas-nav-cat-hover-background: #ffffff;



//*********Footer colors*********
@footer-background: #000000;
@footer-text-color: #ffffff;
@footer-border-color: #ffffff;
@copyright-background: #ffffff;

//*********Well colors*********
@well-secondary-bg: @brand-secondary;
@well-quaternary-bg: #ffffff;

//Item colors
@item-promo-color: #0000000;
@item-sale-color: #0000000;
@item-sale-price-color: #0000000;



//== Tables
@table-2n-line-bg: #ffffff;
@table-head-bg: #000000;
@table-head-color: #ffffff;
@table-head-border-color: #000000;
@table-border-color: #000000;
@table-expand-bg: #000000;
@cart-product-table-head-color: @table-expand-bg;

//== List
@list-active-bg: #ffffff;

//== List
@list-active-bg: #ffffff;


//*********Button Colors*********
//## For each of Bootstrap's buttons, define text, background and border color.
@btn-box-shadow: false;
@btn-border-width: 3px;
@btn-font-size: 16px;
@font-size-small: ceil((@font-size-base * 0.92)); // ~13px
@font-size-large-1: ceil((@font-size-base * 1.14)); // ~16px
@font-size-large-2: ceil((@font-size-base * 1.2857)); // ~18px
@font-size-large-3: ceil((@font-size-base * 1.57)); // ~22px
@font-size-large-4: ceil((@font-size-base * 1.71)); // ~24px
@btn-line-height: 1.375;
@btn-font-weight: normal;
@btn-icon-font-size: 25px;
@base-icon-touch-area: 50px;

//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: #000000;
@btn-primary-hover-color: #000000;
@btn-primary-hover-border: #000000;
@btn-primary-hover-background: #ffffff;
@btn-primary-disabled-bg: #000000;

//Secondary Button State
@btn-default-color: #ffffff;
@btn-default-bg: #000000;
@btn-default-border: #000000;
@btn-default-hover-color: #000000;
@btn-default-hover-border: #000000;
@btn-default-hover-background: #ffffff;
@btn-default-disabled-bg: #000000;

@btn-success-color: #fff;
@btn-success-bg: @brand-success;
@btn-success-border: transparent;

@btn-info-color: #fff;
@btn-info-bg: @brand-info;
@btn-info-border: transparent;

@btn-warning-color: #fff;
@btn-warning-bg: @brand-warning;
@btn-warning-border: transparent;

@btn-danger-color: #fff;
@btn-danger-bg: @brand-danger;
@btn-danger-border: transparent;

@btn-link-disabled-color: @gray-light;




//*********Breadcrumbs Colors*********
@breadcrumb-padding-vertical: @grid-gutter-width/2;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg: #ffffff;
//** Breadcrumb text color
@breadcrumb-color: @text-color;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color: @text-color;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator: "/";


//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Carousel Style*********
@carousel-font-style: uppercase;


//*********Modal Colors*********
@modal-close-btn-color: #000000;

//********* THEME VARIABLES *********
@import "../../../../shared/less/generatedVariables.less";
@import "../../../../shared/less/variableMapping.less";


//** ADDONS
//** captchaaddon
@captcha-icons: #353c45;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;
@account-well-primary: #ffffff;
@account-well-secondary: #ffffff;


//*********checkout*********
@steps-color: #000000;
@steps-background: #ffffff;
@steps-color-active: #000000;
@steps-background-active: #ffffff;
@steps-border-active: #000000;
@steps-divider: @border-color-3;
@checkout-icon: #000000;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: #ffffff;
@checkout-list-head-padding: 15px 20px;
@checkout-list-head-padding-first: 15px;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #ffffff;

//*********Datepicker Colors*********
@datepicker-highlight-bg: @brand-secondary;
@datepicker-highlight-color: #ffffff;
@datepicker-highlight-border: @brand-secondary;

@datepicker-active-bg: @brand-primary;
@datepicker-active-color: #ffffff;
@datepicker-active-border: @brand-primary;
